<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Some website</title>
</head>
<body>
<!-- Using the Passed in props in the HBS format  -->
<!-- <h1>{{pageTitle}}</h1> -->

{{> header}}
<p>{{screamIt wlecomeMess}}</p>
<!-- <footer>
	<p>Copyright {{currentYear}}</p>
</footer> -->

<!-- replacing code with partial  -->
{{> footer}}
</body>
</html>